<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@drawable/gugong"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MailListSentActivity"
            android:label="邮筒"></activity>
        <activity android:name=".EverydayPhrase"></activity>
        <activity
            android:name=".UpdatePlanTimeOrHolidayDialogActivity"
            android:label=""
            android:theme="@style/Dialog.NoTitle" />
        <activity android:name=".PunchSumChartActivity" />
        <activity
            android:name=".HelpDetailActivity"
            android:label="详情" />
        <activity android:name=".MailDetailActivity" />
        <activity
            android:name=".RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ui.find.GroupHome" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".UpdatePlanActivity" />
        <activity
            android:name=".MailListActivity"
            android:label="@string/title_mail_list"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".ui.find.DeskMate.DeskmateActivity"
            android:label="同桌" />
        <activity
            android:name=".ui.find.DeskMate.DeskMateFindActivity"
            android:label="寻找同桌" /> <!-- 同桌end -->
        <activity android:name=".DiscoveryActivity" />
        <activity
            android:name=".WriteMailActivity"
            android:label="写信" />
        <activity
            android:name=".PlanDetailActivity"
            android:label="计划详情" />
        <activity
            android:name=".WelcomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IncreasePlanActivity"
            android:label="@string/title_activity_increase_plan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".ScheduleChartActivity"
            android:label="日程表" />
        <activity android:name=".ScheduleChartBaseActivity" />
    </application>

</manifest>